body {
  font-family: "Poppins", sans-serif;
  background-color: #EFF6FF;
  color: #1F2937;
  margin: 0;
  padding: 20px;
}
h1{
  text-align: center;
}
h1, p{
  text-align: center;
}

h1, h2, h3 {
  color: #1E3A5F;
  font-weight: 700;
}

/* The Card Container */
.card {
  background-color: #FFFFFF;
  border-radius: 10px;
  border-top: 5px solid #FACC15;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px; 
}

/* Modern Responsive Grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

input, select, textarea, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  margin-top: 5px;
}

input,
select,
textarea {
  width: 100%;
  box-sizing: border-box;
}


button {
  background-color: #3B82F6;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #FACC15;
  color: #1E3A5F;
}
.task {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    background-color: white;

    border: 1px solid #ddd;
    border-left: 6px solid #6d809f;
    border-radius: 10px;

    padding: 20px;
    margin-bottom: 15px;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.task .info {
    flex: 1;
}

.task h4 {
    margin: 0 0 5px 0;
    font-size: 20px;
}

.task p {
    margin: 0;
    color: #666;
}

.task .status {
    background-color: #FEF3C7;
    color: #1E3A5F;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.date-budget {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 5px;
}